{{#if count}}
{{#each list}}
<article class="blog-content_item">
  <a href="javascript:;" data-router="article" data-article-id="{{_id}}">
    <h3 class="blog-item_title">{{title}}</h3>
    <p class="blog-item_date">
      <i class="glyphicon glyphicon-time"></i>
      {{date}}
    </p>
    <p class="blog-item_author">{{author.nikname}}</p>

    <img class="blog-item_illu" src="{{cover}}" alt="">
    <p class="blog-item_desc">
      {{content}}
    </p>
    <p class="blog-item_tags">
      <span class="blog-tags_hit">浏览 ({{hit_num}})</span>
      <span class="blog-tags_like">点赞 ({{like_num}})</span>
      <span class="blog-tags_comment">评论 ({{comment_num}})</span>
    </p>
  </a>
</article>
{{/each}}
{{else}}
<article class="blog-content_item blog-content-never">
  <h3 class="blog-item_title">很遗憾 没有找到对应的文章</h3>
  <a class="blog-item_btn blog-btn" href="javascript:;" data-column-id="{{columnId}}" data-router="write"> 去写一篇把 </a>
</article>
{{/if}}