<div class="blog-avatar">
  <img class="blog-avatar_pic" src="{{avatar}}" alt="">
</div>
<div class="blog-info">
  <h3 class="blog-avatar_nickname">{{nikname}}</h3>
  <div class="blog-info_state">
    <div class="blog-state_item blog-line  blog-line_col">
      <a href="javascript:;">
        <span class="blog-state_count">{{articleCount}}</span>
        <span class="blog-state_name">文章</span>
      </a>
    </div>
    <div class="blog-state_item">
      <a href="javascript:;">
        <span class="blog-state_count">{{columnCount}}</span>
        <span class="blog-state_name">分类</span>
      </a>
    </div>
  </div>
  <p class="blog-info_content">{{signature}}</p>
</div>